footer{
  background-color: rgba(255, 255, 255, 0.775);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 32vh;
  width: 100%;
  height: 32vh;
  /* border-top: solid 2px #FF008879; */
  /* box-shadow: 0px 0px 8px 5px #00d9ff94; */
  backdrop-filter: 800px;
}
footer ::-moz-selection{
  background-color: transparent !important; 
  color: #00d9ff;
}
footer ::selection{
  background-color: transparent !important;
  color: #00d9ff;
}
footer span{
  color: #000000;
  font-size: 1.1rem;
}

.littleMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;
  flex-direction: column;
}

.littleMessage span{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #000000;
}
.littleMessage span img{
  margin-top: 1vh;
}

.footerTechnology{
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-top: 2vh;
  color: #000000;
}

.ourPolitics a,
.medias a{
  text-decoration: none;
  color: #FF008A;
}

.ourPolitics a:hover,
.medias a:hover{
  letter-spacing: 0.085rem;
  transition: all 0.4s ease-in-out;
}

.ourPolitics, .medias{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ourPolitics{
  margin-top: 1vh;
}
.ourPolitics span{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourPolitics span a{
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.medias {
  width: 35%;
  margin-top: 1vh;
}
.medias span{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.medias span a{
  width: 25%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
/* resposive */
@media(max-width: 1750px){

}
@media(max-width: 1440px){

}
@media(max-width: 1366px){
  .medias,
  .ourPolitics{
    width: 60%;
  }
  .littleMessage{
    width: 70%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.01rem;
  }
  .littleMessage span,
  .footerTechnology{
    width: 50%;
  }
}
@media (min-width: 910px) and (max-width: 1100px) {
  .medias,
  .ourPolitics{
    width: 60%;
  }
  .littleMessage{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.01rem;
  }
  .littleMessage span,
  .footerTechnology{
    width: 50%;
  }
}
@media screen and (min-width: 735px) and (max-width: 900px){
  .medias,
  .ourPolitics{
    width: 60%;
  }
  .littleMessage{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.01rem;
  }
  .littleMessage span,
  .footerTechnology{
    width: 50%;
  }
}
@media(max-width: 735px){
  .medias,
  .ourPolitics{
    width: 80%;
  }
  .littleMessage{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.01rem;
  }
  .littleMessage span,
  .footerTechnology{
    width: 50%;
  }
}
@media(max-width: 600px){
  .medias,
  .ourPolitics{
    width: 75%;
  }
  .littleMessage{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.015rem;
  }
  .littleMessage span,
  .footerTechnology{
    width: 70%;
  }
}