footer{
  box-sizing: border-box;
  margin-top: 7.5vh;
  height: 40vh;
  background-color: black;
  max-height: 45vh;
  width: 100%;
  max-width: 100%;
  background-color: rgb(11, 11, 30);
  color: #fff;
}
.container{
  display: flex;
  flex-direction: row;
  max-height: 32vh;
  height: 80%;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  max-width: 90%;
  width: 90%;
  justify-content: space-around;
  height: 92%;
}
.footer-col>h3{
  font-weight: 300;
  padding-top: 1.5vh;
  font-family: 'IncompleetaRegular';
  letter-spacing: 0.080em;
  font-size: 1.57em;
}
.footer-col>ul>li>a{
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  width: 15vw;
  max-width: 20vw;
  text-decoration: none;
  color: #fff;
}
.footer-col>ul>li>a:hover{
  color: #00d9ff;
  transition: 0.55s;
  font-family: 'Castoro';
}
.footer-col>ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  margin-top: 2%;
}
.credits{
  margin-top: 2vh;
  max-height: 6vh;
  height: 15%;
  display: flex;
  align-items: center;
}
.credits>span>a :hover{
  transition: 0.257ms;
  color: #00d9ff;
}
.contact-us{
  width: 21.85%;
}
.contact-us>ul{
  width: 100%;
}
.contact-us>ul>li{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.footer-col>ul>li>a.mail{
  width: 100%;
  align-items: center;
}
.mail>img{
  background-color: #fff;
  border-radius: 50%;
  border-color: black;
}
.mail>span{
  padding-left: 0.75vw;
}
.mail>img:hover{
  width: 33px;
  transition: 0.15s;
}
.social-medias{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social-medias>a{
  max-width: 40px !important; 
  width: 38px !important;
  height: 40px;
  max-height: 42px;
}
.social-medias>a>img{
  background-color: #fff;
  border-radius: 50%;
  border-color: black;
}
.social-medias>a>img:hover{
  width: 40px;
  height: auto;
  transition: 0.15s;
}