@font-face {
    font-family: 'IncompleetaRegular';
    src: url('../Fonts/IncompleetaRegular.woff2') format('woff2');
}
.join-us{
    margin-top: 5em;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form_option{
    display: flex;
    flex-direction: column;
    width: 42.5vw;
}
.form_option input{
    border-color: rgb(#00d9ff, #12343a, #00d9ff);
    border-width: 0.25em;
    width: 90%;
    height: 60%;
}
.checkbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkbox label{
    font-family: IncompleetaRegular;
    font-weight: 300;
    letter-spacing: 0.53em;
    font-size: 1.15em;
}
.form_option label{
    font-family: IncompleetaRegular;
    font-weight: 300;
    letter-spacing: 0.225em;
    font-size: 1.65em;
    margin-bottom: 0.8rem;

}
.motivational{
    font-family: IncompleetaRegular;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.080em;
    margin-bottom: 1.25%;
}

.motivational:hover {
    color: #fff;
    transition: 0.75s ease-in-out;
    animation: pulsate 0.75s ease-in infinite;
}
.hold_motivational{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 0.2px #fff,
        0 0 0.4px #fff,
        0 0 0.6px #00d9ff,
        0 0 0.8px #00d9ff,
        0 0 1px #00d9ff,
        0 0 1.2px #00d9ff,
        0 0 1.4px #ffffff,
        0 0 1.8px #ffffff;
    
    }
    
    0% {
  
        text-shadow:
        0 0 0.2px #fff,
        0 0 0.4px #fff,
        0 0 0.6px #00d9ff,
        0 0 0.8px #00d9ff,
        0 0 1px #00d9ff,
        0 0 1.2px #00d9ff,
        0 0 1.4px #ffffff,
        0 0 1.8px #ffffff;
  
  }
}
.btnEnviar{
    background-color: #00d9ff;
    border-radius: 10px;
    font-family: 'castoro';
    font-size: larger;
    font-weight: bolder;
    width: 8rem;
    height: 2rem;
  }
.input-text{
    border: none;
    outline: none;
    background-color: #000;
    border-bottom: #00d9ff inset 1px;
    border-left: #00d9ff inset 0.1rem;
    font-size: 1rem;
    color: #fff;
    padding-left: 0.1rem;
    display: flex;
    margin-left: 0.5rem;
}
@media(max-width: 414px){
    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    .form_option{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .checkbox{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1em;
    }
}